[settings]
RESTAURANT_API_KEY = <YOUR ZOMATO API KEY>
GOOGLE_API_KEY_GEOCODING = <YOUR GOOGLE API KEY - FOR GEOCODING>
GOOGLE_API_KEY_EMBEDDED = <YOUR GOOGLE API KEY - FOR EMBEDDED MAPS>
SECRET_KEY = <YOUR DJANGO SECRET KEY>
DEBUG = True
