{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <form action="{% url 'restaurants' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Create" class="btn btn-primary btn-lg btn-block">
    </form>
    <h1>Your city is: {{ city_name }}</h1>
    <h2>Top cuisines here are:</h2>
    <ul>
        {% for cuisine in city_top_cuisines %}
            <li>{{ cuisine }}</li>
        {% endfor %}
    </ul>
    <h2>Nearby restaurants:</h2>
    {% for restaurant in nearby_restaurants %}
        <div class="single_restaurant">
            <div id="restaurant_info">
                <h2>{{ restaurant.restaurant.name }}</h2>
                <p>Cuisine:{{ restaurant.restaurant.cuisines }}</p>
                <p>Address:{{ restaurant.restaurant.location.address }}</p>
                <p><a href="{{ restaurant.restaurant.url }}">See on Zomato</a></p>
                {% if restaurant.restaurant.user_rating.aggregate_rating != '0' %}
                    <div id="rating" style="background-color: #{{ restaurant.restaurant.user_rating.rating_color }}">
                        <p>Rating<br>{{ restaurant.restaurant.user_rating.aggregate_rating }}</p>
                    </div>
                {% else %}
                    <div id="rating" style="background-color: whitesmoke">
                        <p>Rating: No rating available</p>
                    </div>
                {% endif %}
            </div>
            <div id="restaurant_img">
                {% if restaurant.restaurant.featured_image %}
                    <img class="rest_img" src="{{ restaurant.restaurant.featured_image }}" alt="No image">
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}