body {
    background-color: #1a1418;
}

#wrapperHeader {
    padding-bottom: 50px;
}

.restaurantCard{
    margin-bottom: 50px !important;
}

.cardImage {
    height: 300px;
}

.cardDescription{
    height: 50px;
}
