{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="city_name">
        <h1>{{ location_details.location.city_name }}</h1>
    </div>
    {% if location_details.location.city_name != location_details.location.title %}
        <div class="district">
            <h1>{{ location_details.location.title }}</h1>
        </div>
    {% endif %}
    <div id="map_wrapper">
        <div id="map_canvas" class="mapping"></div>
    </div>
    <p></p>
    <div class="subtitle">
        <h2>Top cuisines</h2>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group" id="list-tab" role="tablist">
                {% for cuisine in city_top_cuisines_with_description %}
                    <a class="list-group-item list-group-item-action" id="list-{{ cuisine.name|cut:" " }}-list"
                       data-toggle="list"
                       href="#list-{{ cuisine.name|cut:" " }}" role="tab"
                       aria-controls="{{ cuisine.name|cut:" " }}">{{ cuisine.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content" id="nav-tabContent">
                {% for cuisine in city_top_cuisines_with_description %}
                    <div class="tab-pane fade" id="list-{{ cuisine.name|cut:" " }}" role="tabpanel"
                         aria-labelledby="list-{{ cuisine.name|cut:" " }}-list">
                        <h4 class="cuisine-description">{{ cuisine.description }}</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <p></p>
    <div class="subtitle">
        <h2>Nearby restaurants</h2>
    </div>
    <p></p>
    <div class="container-fluid">
        <div class="row">
            {% for restaurant in location_details.nearby_restaurants %}
                <div class="col-md-6 d-flex">
                    <div class="card card_small card-body flex-fill">
                        <div class="card-image">
                            {% if restaurant.restaurant.featured_image %}
                                <img class="card-img-top" src="{{ restaurant.restaurant.featured_image }}"
                                     alt="Card image cap">
                            {% else %}
                                <img class="card-img-top" src="{% static 'img/example.jpg' %}"
                                     alt="Card image cap">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ restaurant.restaurant.name }}</h3>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h5>{{ restaurant.restaurant.cuisines }}</h5></li>
                            <li class="list-group-item"><h5>{{ restaurant.restaurant.location.address }}</h5></li>
                            <li class="list-group-item">
                                <a href="{{ restaurant.restaurant.url }}"
                                   class="btn btn-success btn-block">See on Zomato</a>
                            </li>
                            <li class="list-group-item">
                                <a href='{% url 'restaurant-details' restaurant_id=restaurant.restaurant.id %}'
                                   class="btn btn-success btn-block">Show details</a>
                            </li>
                        </ul>
                        <div class="card-body">
                            {% if restaurant.user_rating.aggregate_rating != '0' %}
                                <button type="button" class="btn btn-success btn-block"
                                        style="background-color: #{{ restaurant.user_rating.rating_color }}">Rating
                                    <span class="badge badge-light">
                                        {{ restaurant.restaurant.user_rating.aggregate_rating }}
                                    </span>
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-success btn-block">
                                    Rating <span class="badge badge-light">~</span>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
