{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
        <div class="row restaurant-details-row">
            <div class="col-md-12 d-flex card-details">
                <div class="card card-body flex-fill">
                    <div class="card-image-large">
                        {% if restaurant.featured_image %}
                            <img class="card-img-top" src="{{ restaurant.featured_image }}" alt="Card image cap">
                        {% else %}
                            <img class="card-img-top" src="{% static 'img/example.jpg' %}" alt="Card image cap">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ restaurant.name }}</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h5>Cuisines: {{ restaurant.cuisines }}</h5></li>
                        <li class="list-group-item"><h5>Address: {{ restaurant.location.address }}</h5></li>
                        {% if restaurant.average_cost_for_two != 0 %}
                            <li class="list-group-item"><h5>
                                Average cost for two:
                                {{ restaurant.average_cost_for_two }}{{ restaurant.currency }}</h5>
                            </li>
                        {% endif %}
                        {% if restaurant.phone_numbers %}
                            <li class="list-group-item"><h5>Phone number: {{ restaurant.phone_numbers }}</h5></li>
                        {% endif %}
                        <li class="list-group-item">
                            <a href="{{ restaurant.url }}"
                               class="btn btn-success btn-block">See on Zomato</a>
                        </li>
                    </ul>
                    <div class="card-body">
                        {% if restaurant.user_rating.aggregate_rating != '0' %}
                            <button type="button" class="btn btn-success btn-block"
                                    style="background-color: #{{ restaurant.user_rating.rating_color }}">Rating
                                <span class="badge badge-light">{{ restaurant.user_rating.aggregate_rating }}</span>
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-success">
                                Rating <span class="badge badge-light">~</span>
                            </button>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <iframe width="100%"
                                height="400"
                                frameborder="0"
                                style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key={{ api_key }}
                                &q={{ restaurant.location.latitude }},{{ restaurant.location.longitude }}&zoom=18"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
